@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

@font-face {
  font-family: Minercraftory;
  src:
    url("fonts/minercraftory.woff2") format("woff2"),
    url("fonts/minercraftory.woff") format("woff");
}

@font-face {
  font-family: "Super Mario Bros 2";
  src:
    url("fonts/super-mario-bros-2.woff2") format("woff2"),
    url("fonts/super-mario-bros-2.woff") format("woff");
}

@font-face {
  font-family: Fredoka;
  src:
    url("fonts/fredoka.woff2") format("woff2"),
    url("fonts/fredoka.woff") format("woff");
}

@font-face {
  font-family: Rubik;
  src:
    url("fonts/rubik-vf.woff2") format("woff2"),
    url("fonts/rubik-vf.woff") format("woff");
}

@font-face {
  font-family: Xolonium;
  src:
    url("fonts/xolonium.woff2") format("woff2"),
    url("fonts/xolonium.woff") format("woff");
}

@font-face {
  font-family: "Rubik Italic";
  font-style: italic;
  src:
    url("fonts/rubik-italic-vf.woff2") format("woff2"),
    url("fonts/rubik-italic-vf.woff") format("woff");
}

@font-face {
  font-family: Coda;
  font-weight: 400;
  src:
    url("fonts/coda.woff2") format("woff2"),
    url("fonts/coda.woff") format("woff");
}

@font-face {
  font-family: Arvo;
  font-weight: 400;
  src:
    url("fonts/arvo-400.woff2") format("woff2"),
    url("fonts/arvo-400.woff") format("woff");
}

@font-face {
  font-family: Arvo;
  font-weight: 700;
  src:
    url("fonts/arvo-700.woff2") format("woff2"),
    url("fonts/arvo-700.woff") format("woff");
}

@font-face {
  font-family: Arvo;
  font-weight: 700;
  font-style: italic;
  src:
    url("fonts/arvo-700-italic.woff2") format("woff2"),
    url("fonts/arvo-700-italic.woff") format("woff");
}

@font-face {
  font-family: "Russo One";
  src:
    url("fonts/russo-one.woff2") format("woff2"),
    url("fonts/russo-one.woff") format("woff");
}

@font-face {
  font-family: "Lester Bold";
  src:
    url("fonts/lester-bold.woff2") format("woff2"),
    url("fonts/lester-bold.woff") format("woff"),
    url("fonts/lester-bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src:
    url("fonts/roboto-900.woff2") format("woff2"),
    url("fonts/roboto-900.woff") format("woff"),
    url("fonts/roboto-900.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src:
    url("fonts/roboto-400.woff2") format("woff2"),
    url("fonts/roboto-400.woff") format("woff"),
    url("fonts/roboto-400.ttf") format("truetype");
}

@font-face {
  font-family: EnterCommand;
  src:
    url("fonts/entercommand.woff2") format("woff2"),
    url("fonts/entercommand.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  src:
    url("fonts/roboto-mono-vf.woff2") format("woff2"),
    url("fonts/roboto-mono-vf.woff") format("woff"),
    url("fonts/roboto-mono-vf.ttf") format("truetype");
}

@font-face {
  font-family: Anybody;
  src:
    url("fonts/anybody-vf.woff2") format("woff2"),
    url("fonts/anybody-vf.woff") format("woff"),
    url("fonts/anybody-vf.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  src:
    url("fonts/playfair-display-vf.woff2") format("woff2"),
    url("fonts/playfair-display-vf.woff") format("woff"),
    url("fonts/playfair-display-vf.ttf") format("truetype");
}

/*
@font-face {
  font-family: "Kemco Smooth";
  font-weight: 400;
  src:
    url("fonts/kemco-smooth.woff2") format("woff2"),
    url("fonts/kemco-smooth.woff") format("woff"),
    url("fonts/kemco-smooth.ttf") format("truetype");
}

@font-face {
  font-family: "Inero";
  font-weight: 400;
  src:
    url("fonts/inero.woff2") format("woff2"),
    url("fonts/inero.woff") format("woff"),
    url("fonts/inero.ttf") format("truetype");
}

@font-face {
  font-family: "Squarified";
  font-weight: 400;
  src:
    url("fonts/squarified.woff2") format("woff2"),
    url("fonts/squarified.woff") format("woff"),
    url("fonts/squarified.ttf") format("truetype");
}

@font-face {
  font-family: "Hieronimus";
  font-weight: 400;
  src:
    url("fonts/hieronimus.woff2") format("woff2"),
    url("fonts/hieronimus.woff") format("woff"),
    url("fonts/hieronimus.otf") format("opentype");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 800;
  src:
    url("fonts/roboto-mono-800.woff2") format("woff2"),
    url("fonts/roboto-mono-800.woff") format("woff"),
    url("fonts/roboto-mono-800.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src:
    url("fonts/roboto-300-italic.woff2") format("woff2"),
    url("fonts/roboto-300-italic.woff") format("woff"),
    url("fonts/roboto-300-italic.ttf") format("truetype");
}
*/

body {
  margin: 2rem 0;
  background: #224;
}

.container {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 400px);
  grid-template-rows: repeat(var(--columns), 400px);
  gap: 25px 250px;
  margin: 2em 2em 0 4em;
}
